.burger-menu {
  position: absolute;
  left: 10px;
  top: 50%;
  z-index: 1;
  display: none;
  width: 22px;
  height: 20px;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transform: translateY(-50%);

  @media (max-width: 767px) {
    display: inline-block;
  }
}

.burger-menu.is-open {
  .burger-menu__line {
    background: 0 0;

    &::before,
    &::after {
      top: 0;
      bottom: 0;
      margin: auto;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

.burger-menu__line {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 4px;
  width: 100%;
  margin: auto;
  background-color: #00a388;

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 4px;
    background-color: #00a388;
  }

  &::before {
    top: -8px;
  }
  &::after {
    bottom: -8px;
  }
}
