.header {
  background-color: #fff;
  border-bottom: 1px solid #C8EBA6;
}

.header__container {
  position: relative;
  z-index: 4;
  background-color: #fff;
  border-bottom: 1px solid #F4F4E7;
}

.header__top {
  padding: 18px 0 17px 33px;

  @media (max-width: 767px) {
    position: relative;
    padding: 15px 10px 13px 30px;
    text-align: center;
  }
}

.header__logo {
  display: inline-block;
  vertical-align: middle;
}

.header__logo-image {
  display: block;
  width: 136px;
  max-width: 100%;

  @media (max-width: 767px) {
    width: 90px;
  }
}
