.nav {
  padding: 14px 0 11px;
  box-sizing: border-box;

  @media (max-width: 767px) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    width: 100%;
    height: auto;
    padding: 50px 0;
    background-color: #fff;
    box-shadow: 0 9px 20px 11px rgba(0,0,0,.1);
    transform: translateY(-100%);
    opacity: 0;
    transition: transform .3s ease-in-out, opacity .6s ease;;
  }
}

.nav.is-active {
  opacity: 1;
  transform: translateY(0);
  transition: transform .3s ease-in-out, opacity .6s ease;
}

.nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;

  @media (max-width: 767px) {
    padding-top: 30px;
  }

  @media (orientation: landscape) {
    text-align: center;
  }
}

.nav__item {
  display: inline-block;
  padding: 0 30px;
  white-space: nowrap;
  font-size: 0;

  @media (max-width: 960px) {
    padding: 0 15px;
  }

  @media (max-width: 767px) {
    display: block;
    padding: 10px 0;
  }

  @media (max-height: 500px) and (orientation: landscape) {
    display: inline-block;
    min-width: 120px;
  }
}

.nav__link {
  font-size: 18px;
  line-height: 1.3;
  font-family: 'PF Din Text Comp Pro', Arial, sans-serif;
  color: #231f20;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  transition: color .15s ease-in-out;

  &:hover {
    color: #ff6138;
  }
}
