.main {
  padding: 28px 0 30px;
  font-size: 0;
}

.main__container {
  display: table;
  margin: 0 -5px;

  @media (max-width: 540px) {
    display: block;
  }
}

.main__col {
  display: table-cell;
  padding: 0 5px;
  vertical-align: top;
}

.main__col--first {
  @media (max-width: 540px) {
    display: block;
  }
}

.main__item-image {
  display: block;
  max-width: 100%;
}

.main__item {
  padding: 5px 0;
}

