.product {
  padding-top: 50px;
}

.product__title-container {
  position: relative;
  z-index: 1;
  display: block;
  margin-bottom: 30px;
  text-align: center;

  @media (max-width: 540px) {
    display: none;
  }
}

.product__title {
  display: inline-block;
  padding: 0 20px;
  margin: 0;
  font-family: 'PF Din Text Comp Pro', Arial, sans-serif;
  font-size: 34px;
  font-weight: 100;
  line-height: 1.3;
  color: #ffffff;
  background-color: #ff6138;
  text-transform: uppercase;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: -1;
    margin: auto;
    width: 100%;
    height: 1px;
    background-color: #ff6138;
    transform: translateY(-50%);
  }
}

.product__list {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 93px;
  list-style: none;
  white-space: nowrap;

  @media (max-width: 767px) {
    padding: 0 60px;
  }

  @media (max-width: 540px) {
    padding: 0 30px;
  }
}

.product__item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  max-width: 186px;
  padding: 0 5px;
}

.product__item--sale {
  &::before {
    content: 'Sale';
    position: absolute;
    top: 0;
    right: 5px;
    display: inline-block;
    padding: 0 11px;
    font-size: 16px;
    line-height: 1.6;
    font-family: 'PF Din Text Comp Pro', Arial, sans-serif;
    font-weight: 100;
    background-color: #79bd8f;
    color: #fff;
    text-transform: uppercase;
    box-sizing: border-box;
  }

  &::after {
    content: '';
    position: absolute;
    top: 22px;
    right: 40px;
    width: 0;
    height: 0;
    border-top: 14px solid #79bd8f;
    border-right: 6px solid transparent;
    transform: rotate(18deg);
  }
}

.product__image {
  display: block;
  max-width: 100%;
}

.product__text-box {
  padding: 20px 0;
}

.product__description {
  display: table;
  padding-right: 8px;
  white-space: normal;
}

.product__description--sale {
  .product__item-title {
    font-size: 11px;
    letter-spacing: -0.6px;
    color: #9ca5aa;
  }

  .product__item-price {
    font-size: 14px;
    color: #9ca5aa;
    text-decoration: line-through;
  }

  .product__item-currency {
    text-decoration: none;
  }
}

.product__link {
  display: block;
  text-decoration: none;
}

.product__item-title {
  display: table-cell;
  width: 55%;
  vertical-align: top;
  font-size: 11px;
  color: #000;
  font-family: 'DIN Next LT Pro', Arial, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

.product__item-price-box {
  display: table-cell;
  width: 45%;
  vertical-align: top;
  text-align: right;
  font-family: 'DIN Next LT Pro', Arial, sans-serif;
  font-weight: 500;
}

.product__item-price {
  font-size: 29px;
  font-weight: 500;
  letter-spacing: -1.5px;
  color: #000;
  line-height: 1.2;
}

.product__item-penny,
.product__item-currency {
  font-size: 14px;
  letter-spacing: -0.7px;
  color: #000;
}

.product__item-penny {
  display: inline-block;
  vertical-align: top;
}
