body, html {
  padding: 0;
  margin: 0;
  line-height: 1.4;
  font-family: 'DIN Next LT Pro', arial, sans-serif;
}
header, main {
  display: block;
}

body.is-fixed {
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: auto;
  background-color: rgba(255,255,255,0);
  transition: background-color .3s ease-in-out;
}

.overlay.is-active {
  z-index: 1;
  background-color: rgba(255,255,255,.8);
}
