.slick-slider {
  @media(max-width: 640px) {
    text-align: center;
  }
}

.slider__button {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 67px;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  transform: translateY(-50%);

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 35px;
    height: 2px;
    background-color: #000;
  }
}

.slider__button--prev {
  left: 38px;

  @media (max-width: 767px) {
    left: 0;
  }


  &::before {
    left: 0;
    transform: translateY(-50%) rotate(-70deg);
    transform-origin: left;
  }

  &::after {
    left: 0;
    transform: translateY(-50%) rotate(70deg);
    transform-origin: left;
  }
}

.slider__button--next {
  right: 38px;

  @media (max-width: 767px) {
    right: 0;
  }

  &::before {
    right: 0;
    transform: translateY(-50%) rotate(-70deg);
    transform-origin: right;
  }

  &::after {
    right: 0;
    transform: translateY(-50%) rotate(70deg);
    transform-origin: right;
  }
}
